/* start standards */
* {
  font-family: calibri, Helvetica, sans-serif;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* end standards */


/* start product section */
.container {
  z-index: 0;
  background-image: url(bg_main.png);
}
/* start intro */
.intro{
  height: 215px;
  text-align: center;
  color: white;
}
.intro h1{
  padding-top:50px;
}
.intro h3{
  padding-top: 20px;
}
/* end intro */
.product-row {
  display: flex;
  justify-content: center;
}
.product-row div {
  border-bottom: 2px solid #3498db;
  background-color: rgb(2, 2, 39);
  margin: 10px;
  padding: 5px;
  text-align: center;
  color: white;
  overflow: hidden;
  transition: ease-in-out all 0.7s;
}
.product-row div:hover {
  color: white;
  transform: scale(1.09, 1.09);
  cursor: pointer;
  transition: all ease-in-out 0.6s;
  background-color: #3498db;
}
.product-row div h4 {
  padding: 1px;
  margin: 5px;
}
.product-row img {
  padding: 0px;
  width: 200px;
  height: 220px;
  display: flex;
}
.product-row input {
  margin: 5px;
  border-radius: 25px;
  outline: none;
  width: 155px;
  height: 30px;
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(60, 41, 167),
    rgb(33, 62, 141),
    rgb(36, 36, 207),
    rgb(4, 71, 195)
  );
}
/* end product section */
